body {
    font-family: "Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif";
    margin: 0;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 0;
    grid-template-areas: 
        "header"
        "content";
    grid-template-rows: 100px auto;
}

.banner {
    grid-area: header;
    background-color: #0078d4;
    vertical-align: middle;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.centered-content {
    text-align: center;
    grid-area: content;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: 15px;
}

#status {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    table-layout: fixed;
}

#results {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    table-layout: fixed;
}

#callFunction > .fa-check-circle {
    color: green;
}

#getUrlListStatus > .fa-check-circle {
    color: green;
}